#new2{
  display: flex;
}

#meraBox{
  width: 100px;
  height: 100px;
  background-color: orange;
}

#app{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .error{
    color:red
  }

  .inline-flex:first-child{
    width: 10%;
  }

  .inline-flex:last-child{
    width: 90%;
  }

  .inline-flex{
    display: inline-flex;
    flex-wrap: wrap;
  }

  .flex{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }

  main {
    flex: 1 0 auto;
  }