.App {
  background: #0c0c0c;
  color: #fff5ea;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.error {
  color: red;
  font-size: larger;
  font-style: italic;
  word-spacing: 5px;
  letter-spacing: 2.5px;
}
.mainCard {
  background: #0c0c0c;
  box-shadow: 12px 10px 20px #fff5ea;
  color: #fff5ea;
  height: 15rem;
}
.mainCard:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 500ms ease;
}
#imageContainer {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

#imageOnCard {
  border-radius: 15px;
  padding: 10px;
  width: 100%;
}

.lineGap {
  line-height: 50px;
  letter-spacing: 5.5px;
}
ol,
li {
  color: black !important;
}

footer,
.App,
.mb-3,
.bg-body-tertiary,
.btn,
.form-label,
.nav-link,
.darkTheme {
  color: #fff5ea !important;
  background: black !important;
}
main {
  flex: 1 0 auto;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
